
.Banner_main {
    width: 100vw;
    min-height: 60vh;
    object-fit: contain;
    color: rgb(252, 252, 251);
    margin-top: -2rem;
 
}

.Banner_main-container {
    
    padding-top:15rem;
    padding-left: 1rem;

    min-width:19.06rem ;
    
}

.Banner_main-container>h1 {
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.Banner_main-container h4{
    line-height: 0.8rem;
}

.Banner_main-container-button {
    width: 15rem;
    display: flex;
    justify-content: space-around;
   
}

.Banner_button {
    border-radius: 0.5rem;
    width: 5rem;
    min-height: 2rem;
    margin-bottom: 0.5rem;
    transition: ease-in 0.5s;
    cursor: pointer;
    background-color: rgba(60, 54, 54,0.5);
}

.Banner_button:hover {
    transform: scale(1.2);
    background-color: rgb(241, 150, 46);
    font-weight: bolder;
    box-shadow: 0.5rem 0.5rem 0.5rem;
    border: 0.2rem solid black;
}

.bottom_div {
   padding-top: 11rem;
    background-image: linear-gradient(to bottom, transparent, rgb(28, 24, 24));
    min-height: 7.4rem;
}

@media(max-width:32.5rem){
    .Banner_main-container>h1{
        font-size: 2rem;
    }
    .Banner_main-container h4{
      
        font-size: 1rem;
    }
}